<a href="https://colab.research.google.com/github/WookieLee/data/blob/main/convert_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def convert_code(df):
 import pandas as pd
 import numpy as np

 code = pd.read_csv('https://drive.google.com/uc?export=download&id=1lfba4GKf4ETI9EP8vl2NTwNF9VaHJYxL', encoding='utf-8')
 
 code=code[code.읍면동명.isnull()]
 code=code[code.동리명.notnull()]
 code['시군구명'].replace(np.nan, 0, inplace=True) 
 code['TYPE'] = np.where(code['시군구명'] == 0, '시도', '시군구')
 code['CODE'] = np.where(code['TYPE']=='시도', code.행정동코드.astype(str).str[:2].astype(int), code.행정동코드.astype(str).str[:5].astype(int))
 code['시군구명'].replace(0, np.nan, inplace=True) 
 code["FULL_NM"] = code["시도명"] + " " + code["시군구명"]
 code["FULL_NM"]=code["FULL_NM"].str.rstrip()
 code['FULL_NM'].fillna(code['시도명'], inplace=True)
 
 fullnm = pd.read_csv('https://drive.google.com/uc?export=download&id=1K3GmKvDz0qlW3IbDitFsnfsQYCUiQZkz', encoding='utf-8')
 
 df['C1']=df['C1'].astype(int)
 fullnm['C1']=fullnm['C1'].astype(int)
 df_key = df.merge(fullnm, on='C1')
 
 df_code=df_key.join(code.set_index('FULL_NM')['CODE'], on='FULL_NM')
 df_code=df_code[df_code.CODE.notnull()]
 df_code['CODE'] = df_code['CODE'].astype(int)
 return df_code